<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aloofwillow96.languageapp">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/appi"
        android:label="@string/appName"
        android:largeHeap="true"
        android:roundIcon="@drawable/appi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CropTemplate" />
        <activity android:name=".SoilHealth" />
        <activity android:name=".PestControl" />
        <activity android:name=".CropsGateway" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ImportantLinks" />
        <activity android:name=".Insurance" />
        <activity android:name=".FAQ" />
        <activity android:name=".AboutUs"></activity>
    </application>

</manifest>